target
__pycache__
.venv
bacon.toml
dist
examples/matrix-math/*.wasm
examples/matrix-math/numpy*
examples/matrix-math/matrix_math
examples/matrix-math/wasmtime-py
examples/http/.spin
examples/http/http.wasm
examples/tcp/tcp.wasm
examples/cli/cli.wasm
