target
__pycache__
.mypy_cache
.venv
dist
examples/*/*.wasm
examples/matrix-math/numpy*
examples/matrix-math/matrix_math
examples/matrix-math/wasmtime-py
examples/http/proxy
examples/http/poll_loop.py
examples/tcp/command
examples/cli/command
examples/sandbox/sandbox
examples/multithreading/*.wasm
examples/multithreading/command
wasi-sdk
cpython
