target
__pycache__
.mypy_cache
.venv
bacon.toml
dist
examples/matrix-math/*.wasm
examples/matrix-math/numpy*
examples/matrix-math/matrix_math
examples/matrix-math/wasmtime-py
examples/http/.spin
examples/http/http.wasm
examples/http/proxy
examples/http/poll_loop.py
examples/tcp/tcp.wasm
examples/tcp/command
examples/cli/cli.wasm
examples/cli/command
examples/sandbox/sandbox
examples/sandbox/sandbox.wasm
wasi-sdk
