[package]
name = "componentize-py"
version = "0.15.0"
edition = "2021"
exclude = ["cpython"]

[lib]
name = "componentize_py"
crate-type = ["cdylib", "rlib"]

[dependencies]
anyhow = { version = "1.0.91", features = ["backtrace"] }
clap = { version = "4.5.20", features = ["derive"] }
tar = "0.4.42"
tempfile = "3.13.0"
zstd = "0.13.2"
componentize-py-shared = { path = "shared" }
wasm-encoder = "0.219.0"
wit-parser = "0.219.0"
wit-component = "0.219.0"
wasmparser = "0.219.0"
indexmap = "2.6.0"
bincode = "1.3.3"
heck = "0.5.0"
pyo3 = { version = "0.22.5", features = [
    "abi3-py39",
    "extension-module",
], optional = true }
wasmtime = "25.0.2"
wasmtime-wasi = "25.0.2"
wasi-common = "25.0.2"
once_cell = "1.20.2"
component-init = { git = "https://github.com/dicej/component-init", rev = "6964d14" }
wasm-convert = { git = "https://github.com/dicej/wasm-convert", rev = "a42b419" }
async-trait = "0.1.83"
futures = "0.3.31"
tokio = { version = "1.41.0", features = [
    "macros",
    "rt",
    "rt-multi-thread",
    "fs",
] }
bytes = "1.8.0"
pretty_env_logger = "0.5.0"
cap-std = "3.3.0"
im-rc = "15.1.0"
serde = { version = "1.0.213", features = ["derive"] }
toml = "0.8.19"
semver = "1.0.23"

[dev-dependencies]
proptest = "1.5.0"
hex = "0.4.3"
tempfile = "3.13.0"

[build-dependencies]
anyhow = "1.0.89"
tar = "0.4.41"
zstd = "0.13.2"
test-generator = { path = "test-generator" }

[workspace]
members = ["runtime", "shared", "test-generator"]
