[package]
name = "componentize-py"
version = "0.12.0"
edition = "2021"
exclude = ["cpython"]

[lib]
name = "componentize_py"
crate-type = ["cdylib", "rlib"]

[dependencies]
anyhow = { version = "1.0.75", features = ["backtrace"] }
clap = { version = "4.4.10", features = ["derive"] }
tar = "0.4.40"
tempfile = "3.8.1"
zstd = "0.13.0"
componentize-py-shared = { path = "shared" }
wasmparser = "0.118.0"
wasm-encoder = "0.38.1"
wit-parser = "0.13.1"
wit-component = "0.20.0"
indexmap = "2.1.0"
bincode = "1.3.3"
heck = "0.4.1"
pyo3 = { version = "0.20.0", features = ["abi3-py37", "extension-module"], optional = true }
wasmtime-wasi = "17.0.0"
wasi-common = "17.0.0"
wasmtime = "17.0.0"
once_cell = "1.18.0"
component-init = { git = "https://github.com/dicej/component-init" }
async-trait = "0.1.74"
futures = "0.3.29"
tokio = { version = "1.34.0", features = ["macros", "rt", "rt-multi-thread", "fs"] }
bytes = "1.5.0"
pretty_env_logger = "0.5.0"
cap-std = "2.0.0"
im-rc = "15.1.0"
serde = { version = "1.0.193", features = ["derive"] }
toml = "0.8.8"

[dev-dependencies]
async-trait = "0.1.74"
once_cell = "1.18.0"
proptest = "1.4.0"
hex = "0.4.3"

[build-dependencies]
anyhow = "1.0.75"
tar = "0.4.40"
zstd = "0.13.0"
test-generator = { path = "test-generator" }

[workspace]
members = [
    "runtime",
    "shared",
    "test-generator",
]
