[package]
name = "componentize-py-runtime"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = [ "cdylib" ]

[dependencies]
anyhow = "1.0.70"
bincode = "1.3.3"
once_cell = "1.17.1"
pyo3 = { version = "0.18.3", features = ["abi3-py311", "num-bigint"] }
componentize-py-shared = { path = "../shared" }
num-bigint = "0.4.3"
